
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>The party is tonight.</p>
    <a href="/home/rsvpform">RSVP Now</a>
    @Html.ActionLink("RSVP Now", "RsvpForm")
</body>
</html>
